<div class="modal-wrapper">
    <div class="container">
        <div class="row row-sparse">
            <div class="col-md-6">
                <h2 class="title mb-2">Login</h2>

                <form action="#" class="mb-1">
                    <label for="login-email">Email address <span class="required">*</span></label>
                    <input type="email" class="form-input form-wide mb-2" id="login-email" required />

                    <label for="login-password">Password <span class="required">*</span></label>
                    <input type="password" class="form-input form-wide mb-2" id="login-password" required />

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-md">LOGIN</button>

                        <div class="custom-control custom-checkbox form-footer-right">
                            <input type="checkbox" class="custom-control-input" id="lost-password">
                            <label class="custom-control-label form-footer-right" for="lost-password">Remember Me</label>
                        </div>
                    </div><!-- End .form-footer -->
                    <a href="#" class="forget-password">Forgot your password?</a>
                </form>
            </div><!-- End .col-md-6 -->

            <div class="col-md-6">
                <h2 class="title mb-2">Register</h2>

                <form action="#">
                    <label for="register-email">Email address <span class="required">*</span></label>
                    <input type="email" class="form-input form-wide mb-2" id="register-email" required>
					 <label for="register-password">Password <span class="required">*</span></label>
                    <input type="password" class="form-input form-wide mb-2" id="register-password" required>

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-md">Register</button>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="newsletter-signup">
                            <label class="custom-control-label" for="newsletter-signup">Sing up our Newsletter</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .form-footer -->
                </form>
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="social-login-wrapper">
        <p>Access your account through  your social networks.</p>

        <div class="btn-group">
            <a class="btn btn-social-login btn-md btn-gplus mb-1"><i class="fab fa-google pt-1"></i><span>Google</span></a>
            <a class="btn btn-social-login btn-md btn-facebook mb-1"><i class="icon-facebook"></i><span>Facebook</span></a>
            <a class="btn btn-social-login btn-md btn-twitter mb-1"><i class="icon-twitter"></i><span>Twitter</span></a>
        </div>
    </div>
</div>